.dropdown {
	position: relative;
	display: inline-block;

	width: 100%;
}

.dropdown-toggle {
	border: none;
	cursor: pointer;

	box-sizing: border-box;

	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	width: 100%;
	
	display: flex;

	border-width: 0px;

	background-color: var(--secondary_color);

	font-size: var(--font_size_base);
	font-weight: 500;
}

.dropdown-checkbox {
	position:absolute;
	left: 0%;
	width: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;

	box-sizing: border-box;

	width: 100%;

	padding: 8px;

	font-family: var(--font_family);
	font-size: var(--font_size_base);
	color: var(--text_color);
	margin: 5px;
	background-color: var(--secondary_color);
	outline: 2px solid var(--secondary_color);
}

.dropdown-content label {
	display: block;
	padding: 8px 12px;
	margin-left: 20px;
}
