body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #343741;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

input {
	box-sizing: border-box;

	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	/* margin-bottom: 8px; */
	
	display: flex;
	/* justify-content: space-between; */

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);

}

select {
	box-sizing: border-box;

	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	
	display: flex;

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);
}

.select-user option {
	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;
	
}

.select-user:focus{
	border:none;
	outline:none;
}


textarea {
	box-sizing: border-box;

	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	
	display: flex;

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);

	resize: none;

}

textarea:focus {
	outline:none;
}

input:focus{
	outline: none;
}

button:hover {
	background-color: #1d1f25;
}

form{
	width: 50%;
	left: 25%;
	position:absolute;
	top: 35%;
}

button{
	width: 100%;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;

	cursor: pointer;

	padding-top: 10px;
	padding-bottom: 10px;

	width: 100px;

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);

	transition-duration: 0.2s;
}

p{
	font-family: 'Work Sans';
	font-size: 40px;
	font-weight: 500;
	color: white;
}

h1{
	font-family: 'Work Sans';
	font-size: 40px;
	font-weight: 500;

	color: white;

	padding: 0;
	margin: 0;
}

h2{
	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	color: white;

	padding: 0;
	margin: 0;
}

.navbar-text{
	display: inline-block;
	cursor:pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

#home{
	position: absolute;
	left: calc(100% * 3 / 6);
}

#back
{
	position: absolute;
	left: calc(100% / 6);
}

#login{
	position: absolute;
	font-size: 20px;
	left: calc(100% * 5 / 6);
}

.navigation{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, 0.25);
	justify-content: center;
}

.content{
	margin-top: 100px;
	height: calc(100vh - 100px);
	position: relative;
}

#projects {
	position: absolute;
	font-size: 20px;
	left: 10%;
}

.error-page {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}