body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--background_color);
}

code {
font-family: var(--font_family);
}

input {
	box-sizing: border-box;

	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	/* margin-bottom: 8px; */
	
	display: flex;
	/* justify-content: space-between; */

	border-width: 0px;
	border-radius: 4px;

	background-color: var(--background_color);
	color: var(--secondary_color);

}

select {
	box-sizing: border-box;

	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	
	display: flex;

	border-width: 0px;
	border-radius: 4px;

	background-color: var(--background_color);
	color:var(--text_color);
}

.select-user option {
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;
	
}

.select-user:focus{
	border:none;
	outline:none;
}


textarea {
	box-sizing: border-box;

	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	
	display: flex;

	border-width: 0px;
	border-radius: 4px;

	background-color: var(--background_color);
	color: var(--text_color);

	resize: none;

}

textarea:focus {
	outline:none;
}

input:focus{
	outline: none;
}



form{
	width: 50%;
	left: 25%;
	position:absolute;
	top: 25%;
}

button{
	width: 100%;
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 400;

	cursor: pointer;

	padding-top: 10px;
	padding-bottom: 10px;

	width: 100px;

	border-width: 0px;
	border-radius: 4px;

	background-color: var(--secondary_color);
	color: var(--text_color);

	transition-duration: 0.2s;
}

p{
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;
	color: var(--text_color);
}

h1{
	font-family: var(--font_family);
	font-size: 40px;
	font-weight: 500;

	color: var(--text_color);

	padding: 0;
	margin: 0;
}

h2{
	font-family: var(--font_family);
	font-size: 20px;
	font-weight: 500;

	color: var(--text_color);

	padding: 0;
	margin: 0;
}

.navbar-text{
	display: inline-block;
	cursor:pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

#home{
	position: absolute;
	left: calc(100% * 3 / 6);
}

#back
{
	position: absolute;
	left: calc(100% / 6);
}

#login{
	position: absolute;
	font-size: 20px;
	left: calc(100% * 5 / 6);
}

.navigation{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	background: var(--navigation_bar_color);
	justify-content: center;
}

.content{
	margin-top: 100px;
	height: calc(100vh - 100px);
	position: relative;
}

#projects {
	position: absolute;
	font-size: 20px;
	left: 10%;
}

.error-page {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
	color: var(--secondary_color);
	font-family: var(--font_family);
	font-size: var(--font_size_base);
}

table {
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 500;
	color: var(--primary_color);

	width: 100%;
	text-align: center;

	position:relative;
}

.table-row-data {
	width: 100%;
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	font-weight: 400;

	padding-top: 10px;
	padding-bottom: 10px;

	width: 100%;

	border-width: 0px;
	border-radius: 16px;

	background-color: rgba(0,0,0,var(--default_alpha));
	color: var(--text_color);

	transition-duration: 0.2s;
}

.table-data-clickable {
	cursor: pointer;
}
.table-data-clickable:hover {

	color:lightblue;
}

.chart-container{
    width: 100%;
	height: 70%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clockinout-container{
	/* height: 50%; */
	overflow-y: auto;

}