div.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50%;

	/* background: rgba(0, 0, 255, 0.278); */
}

input {
	box-sizing: border-box;

	font-family: 'Work Sans';
	font-size: 20px;
	font-weight: 500;

	width: 100%;

	padding: 8px;
	margin-bottom: 8px;
	/* margin-bottom: 8px; */
	
	display: flex;
	/* justify-content: space-between; */

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);

}

input:focus{
	outline: none;
}

button {
	/* width: 100%; */
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;

	padding-top: 10px;
	padding-bottom: 10px;

	/* padding-left: 20px;
	padding-right: 20px; */
	width: 100px;

	border-width: 0px;
	border-radius: 4px;

	background-color: #474b58;
	color:rgb(255, 255, 255);

	transition-duration: 0.2s;
}

button:hover {
	background-color: #1d1f25;
}

#register-button {
	position: absolute;
	left: 0px;
	margin-left: 100%;
	transform: translate(-100%, 0%);
}


/* button:active {
	background-color: #616268;
} */

p {
	font-size: 20px;
	color: red;
	position: absolute;
	top: 75%;
}