.project-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(33.33vw - 20px), 1fr));
	position:sticky;
	height: 90%;
	gap: 10px;
}

.project-grid-item{
	
	background-color: #474b58;
	text-align: center;

	/* margin: 10px; */

	justify-content: center;
	align-items: center;

	border-radius: 15px;

	transition-duration: 0.2s;

	cursor: pointer;
}

.project-grid-item:hover {
	background-color: #1d1f25;
}

.project-grid-text {
	font-family: 'Work Sans';
	font-size: 24px;
	font-weight: 500;

	color: white;
	text-decoration: none;
	position: relative;
	top:50%;
}

.project-background {
	background-color: #474b58;
	border-radius: 15px;

	width: 50%;
	height: 100%;

	position: relative;

	overflow: hidden;

}

.project-title {
	display: block;
	padding-left: 5%;
	padding-top: 5%;
	text-decoration:underline;
	font-weight: 600;
	font-size: 48px;
}

.project-description {
	display: block;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.button-bar {
	height: 10%;
	width: 100%;
}

.error-message{
	display: inline-block;
	margin: 0;

	transform: translate(-50%, 0%);
	
	position: absolute;
	left: 50%;

	font-size: 20px;
}

.clock-in{
	background-color: green;
	position: absolute;
	left: 50%;
	width: 50%;
	height: 50%;
	font-size: 48px;
	font-weight: 700;
	border-radius: 25px;

	box-sizing: border-box;
	padding: 5px;
}
.clock-out{
	border-radius: 25px;
	background-color: darkred;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	font-size: 48px;
	font-weight: 700;
}

.submit-project{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.form-background{
	position:absolute;
	background-color: rgba(0, 0, 0, 0.70);
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.scroll-container {
	overflow-y: auto;
	overflow-x: hidden;

	max-height:calc(100% - 130px);

	scrollbar-color: #1d1f25 transparent;
	margin:0;
	margin-right: 10px;
	margin-top: 5px;

	padding-left: 5%;
	padding-right: 5%;
	
	line-height: 1.5;
}