.project-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(33.33vw - 20px), 1fr));
	grid-auto-rows: 15%;
	text-align: center;
	align-items: center;
	position:sticky;
	height: 85%;
	gap: 10px;
}

.project-grid-item{
	
	text-align: center;
	font-family: var(--font_family);
	font-size: var(--font_size_base);
	/* margin: 10px; */
	padding: 10px;
	margin: 1px;
	justify-content: center;
	align-items: center;

	border-radius: 55px;

	transition-duration: 0.2s;
}

.project-grid-item:hover .project-grid-text{
	color: var(--secondary_color);
}

.project-grid-text {
	
	font-weight: 500;

	
	/*text-decoration: underline;*/
	position: relative;
	top:50%;
}

.project-background {
	
	border-radius: 15px;

	width: 50%;
	height: 100%;

	position: relative;

	overflow: hidden;

}

.project-title {
	display: block;
	padding-left: 5%;
	padding-top: 5%;
	text-decoration:underline;
	font-weight: 600;
	font-size: var(--font_size_large);
}

.project-client {
	display: block;
	padding-left: 5%;
	font-style: italic;
	/* font-weight: 600; */
	font-size: 36px;
}

.project-description {
	display: block;
	font-size: var(--font_size_base);
	margin: 0;
	padding: 0;
}

.error-message{
	display: inline-block;
	margin: 0;

	transform: translate(-50%, 0%);
	
	position: absolute;
	left: 50%;

	font-size: 20px;
}

.clock-in{
	background-color: green;
	position: absolute;
	left: 50%;
	width: 50%;
	height: 50%;
	font-size: var(--font_size_large);
	font-weight: 700;
	border-radius: 25px;

	box-sizing: border-box;
	padding: 5px;
}
.clock-out{
	border-radius: 25px;
	background-color: darkred;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	font-size: var(--font_size_large);
	font-weight: 700;
}

.submit-project{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.form-background{
	position:absolute;
	background-color: rgba(0, 0, 0, var(--default_alpha*2));
	backdrop-filter: var(--blur);
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.scroll-container {
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	hyphens: auto;

	max-height:calc(100% - 200px);

	scrollbar-color: var(--primary_color);
	margin:0;
	margin-right: 10px;
	margin-top: 20px;

	padding-left: 5%;
	padding-right: 5%;
	
	line-height: 1.5;
}

/* BUTTON-BAR */

.button-bar {
	height: 15%;
	width: 100%;
	position: relative;
}

.new-project {
	font-size: auto;
	
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	left: calc(100% * 1 / 6);
	top:50%;
	height: 50%;
	width: calc(100% / 6);
}

.new-user {
	font-size: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	left: calc(100% * 5 / 6);
	top:50%;
	
	height: 50%;
	width: calc(100% / 6);
}

.logout {
	font-size: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	left: calc(100% * 3 / 6);
	top:50%;
	
	height: 50%;
	width: calc(100% / 6);
}

.settings {
	font-size: 40px;
	position: absolute;
	top: 50px;
	right: 50px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#time-requests {
	position: relative;
	width: 200px;
	height: 60px;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 40px;

}