.time-change-request input{
	width: 40px;
	display: inline;
	background-color: rgba(0,0,0,0.0);
	margin:0;
	padding-left:0;
	padding-right:0;
	text-align: center;

	font-size: 30px;
	color: var(--text_color);
}

.time-change-request input:focus{
	color: var(--primary_color);
}

.time-change-request #year{
	width: 100px;
}

.time-change-request button{
	display: block;
	background-color: var(--secondary_color);
}

.time-change-request p{
	display: inline;
	height: 100%;
	margin:0;
	padding:0;

	font-size: 30px;
	color: var(--text_color);
}

.time-change-request select{
	display: inline;
	width: 100px;
	margin:0;
	text-align: center;

	font-size: 30px;
}

input[type="number"] {
	-moz-appearance: textfield;
	-ms-overflow-style: none;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.time-change-request h1{
	margin: 0;
	margin-top:40px;
	text-align: center;
	padding: 0;
	color: var(--secondary_color);
}

.time-change-request .time-suffix{
	margin-right:20px;
}

.time-change-request #first{
	margin-top:0;
}

.time-change-request .out{
	margin: 10px;
	display:block;
}

.form-section-background{
	background-color: var(--secondary_color);
	display:inline-block;
	margin-bottom: 8px;
	margin-top: 8px;
	color: var(--text_color);

	transform: translate(-50%, 0);
	position: relative;
	left: 50%;
}